@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '../../variables';

.card {
    margin-bottom: 50px;
    min-width: 340px;
    width: 100%;
    max-width: 580px;

    background-color: transColor($grey, 80%);

    @include media-breakpoint-up(md) {
        width: calc(50% - 12px);
    }

    @include media-breakpoint-up(xl) {
        min-width: 333px;
        width: calc(33.3% - 24px);
        max-width: 400px;
    }

    & .crayView {
        min-height: 300px;
    
        & .sizeText {
            color: $lightGrey;
        }
    
        & .craySizePhoto {
            background-color: transColor($lightBlack, 60%);
            border-radius: 0 1rem 0 1rem;
        }

        .craySizeBlock {
            min-width: 190px;
            height: 75px;
            background-color: transColor($lightBlack, 60%);
            border-radius: 0 1rem 0 1rem;

            img {
                &:first-child {
                    height: 35px;
                }

                &:nth-child(2) {
                    height: 39px;
                }

                &:nth-child(3) {
                    height: 43px;
                }

                &:nth-child(4) {
                    height: 47px;
                }

                &:nth-child(5) {
                    height: 51px;
                }

                &:nth-child(6) {
                    height: 55px;
                }

                &.activeSize {
                    filter: sepia(1) hue-rotate(310deg) saturate(10);
                }
            }
        }
    }

    & .crayInfo {
        color: $lightGrey;
    }

    & .crayPrice {
        color: $yellow;
    }

    & .crayOrderBtn,
    & .crayNotAvailableBtn {
        width: 185px;
        height: 65px;
        border-radius: 0 2rem 0 2rem;
    }

    & .crayOrderBtn {
        background-color: $greenBlue;
        color: $lightGrey;

        &:hover {
            background-color: $darkGreenBlue;
            cursor: pointer;
        }

        & .icon {
            width: $icon_30;
            height: $icon_30;
        }
    }

    & .crayNotAvailableBtn {
        background-color: $lightGrey;
        color: $white;

        &:hover {
            cursor: not-allowed;
        }
    }
}
