@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '../../variables';


.footerContainer {
    background-color: transColor($grey, 85%);
    color: $lightGrey;
}

.footerLogo {
    width: 125px;
    height: 55px;

    @include media-breakpoint-up(md) {
        width: 220px;
        height: 100px;
    }

    @include media-breakpoint-up(xl) {
        width: 255px;
        height: 115px;
    }
}

.privatePolicy,
.companyName {
    color: $lightGrey;
    font-size: 0.75rem;

    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }

    &:hover {
        color: $greenBlue;
    }
}

.footerNavItem a {
    color: $lightGrey;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }

    &:hover {
        color: $greenBlue;
        text-decoration: underline;
    }
}

.schedule span,
.bookingEnter span {
    color: $yellow;
}